{
  "services": {
    "plex": {
      "name": "Plex",
      "url": "https://app.plex.tv",
      "command": null,
      "icon_color": "#e5a00d"
    },
    "jellyfin": {
      "name": "Jellyfin",
      "url": "https://jellyfin.org/downloads/",
      "command": null,
      "icon_color": "#00a4dc"
    },
    "netflix": {
      "name": "Netflix",
      "url": "https://www.netflix.com",
      "command": null,
      "icon_color": "#e50914"
    },
    "disneyplus": {
      "name": "Disney+",
      "url": "https://www.disneyplus.com",
      "command": null,
      "icon_color": "#113ccf"
    }
  }
}
